.board-list-button {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.board-button {
    padding: 5px 20px;
    border-radius: 30px;
    margin: 20px 20% 0px;
    text-align: center;
    font-size: 20px;
}

.list-test-slide .test-item {
    height: auto !important;
}
.reset_data-mobile {
    display: block;
    padding: 10px 15px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    z-index: 5;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #494949 !important;
    border-radius: 6px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, #682e8c 0%, #03bdef 50%, #682e8c 100%);
    transition: all 0.3s ease;
    background-size: 200% auto;
}
.board-button button {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.board-mobile, .mobile {
    display: none;
}

.container-mobile-test{
    /*margin: 0 20px;*/
    padding: 110px 25px 30px;
    background: linear-gradient(to bottom,transparent 0%, #9cdbf8 20%, transparent 100%);
}

@media screen and (max-width: 1366px) {
    .section-test .row.row-list-below-test {
        width: 60%;
        height: auto;
        padding: 20px 0;
    }
    .section-test .row-list-below-test .below-list-test-f {
        margin: 0;
        padding: 0;
    }
    .div-r, .div-l {
        width: 30%;
    }
    .div-m {
        width: 30%;
    }
    #id2.section-test .test-button {
        width: 160px;
        height: auto;
        font-size: 20px;
    }
    #nextBtn, #submitBtn {
        right: -120px;
    }
    #prevBtn {
        left: -120px;
    }
    .section-test .tab .answer label.no-question-answer img {
        width: 150px;
        max-height: 150px;
    }
    #id2 .container .bigwhale .bg {
        height: 200px;
    }
    #id2 .container .boy {
        position: absolute;
        top: 400px;
    }

    .newTestOverlay {
        top: 380px;
        width: 70%;
        height: 750px;
    }
    .section-test .dot {
        bottom: 5.5%;
    }

    #id2 .below-list-test-f .test-item {
        width: 75%;
    }
}

@media screen and (max-width: 1024px) {
    .section-test .dot {
        bottom: 8.5%;
    }
    .section-test#id2 {
        margin-top: 30px;
    }
    .fadeOut {
        top: 80px;
    }
    .section-test .dot {
        bottom: 8.5%;
    }
    #id2.section-test .test-button {
        width: 140px;
        font-size: 18px;
    }
    #nextBtn, #submitBtn {
        right: -90px;
    }
    #prevBtn {
        left: -90px;
    }
    .newTestOverlay {
        top: 280px;
        width: 75%;
        height: 680px;
    }
    .background-2 {
        top: 250px;
    }
    .dot-background-2 {
        bottom: 9.5% !important;
    }
    .form-menu .list_icon_menu li {
        width: 150px;
        padding: 35px 0;
        margin: 0 43px;
    }
}

@media only screen and (max-width: 993px){
    #id2.section-test .container .testOver {
        /*height: 40%;*/
    }
    .board-mobile .girl, #id2.section-test .container .girl {
        top: -4em;
        left: 0px;
        width: 250px;
    }
    .fadeOut {
        top: 50px;
    }
    .newTestOverlay {
        top: 241px;
        height: 500px;
    }
    .section-test .row.row-list-below-test {
        width: 80%;
        height: 250px;
        padding: 20px 0;
    }
    .section-test .tab img.iq-question{
        max-width: 250px;
        width: auto;
    }
    .section-test .tab label.iq-answer.col-md-3 > img {
        width: 80px;
    }
    .section-test .tab .answer label img {
        width: 80px;
        border-radius: 5px;
    }
    .section-test .dot {
        bottom: 12.5%;
    }
    .dot-background-2 {
        bottom: 14% !important;
    }
    .section-test .dot span {
        font-size: 20px;
    }
    #id2 .container .row.tn h3 {
        padding: 0 90px;
        font-size: 20px;
    }

    #id2.section-test .test-button {
        width: 110px;
        height: auto;
        font-size: 15px;
        border: 1px solid #494949 !important;
    }
    #nextBtn, #submitBtn {
        right: -70px;
    }
    #prevBtn {
        left: -70px;
    }

    .section-test .below-test .button-below {
        width: 200px;
        font-size: 17px;
        height: 50px;
    }
    .section-test .row-list-below-test .below-list-test-f, .section-test .free_test_result .below-list-test-f .test-item {
        margin: 0;
        padding: 0 10px;
    }
    .div-r, .div-l {
        width: 35%;
    }
    .div-m {
        width: 30%;
    }
    .section-test .tab .question {
        max-width: 120px;
        width: auto;
    }
    .swal2-popup .swal2-radio label {
        margin: 0 0.4em !important;
    }
    #id2 .container .row.tn {
        padding-top: 100px;
    }
    .dot-background-2 {
        bottom: 0.5%;
    }
    .section-test .tab .answer label.no-question-answer img {
        width: 120px;
        max-height: 120px;
    }
    #id2 .container .bigwhale .bg {
        height: 300px;
    }
    .section-test .row.row-list-below-test .test-item {
        width: 80%;
        height: auto;
        padding: 20px 0;
    }
    .background-2 {
        top: 220px;
    }
    .continue_container .continue_test h1, .continue_container .continue_test h2 {
        font-size: 20px;
    }
    .continue_section .boy {
        width: 200px;
    }
    .continue_container .sea-horse1 {
        width: 60px;
    }
    .test-item:hover {
        transform: scale(1);
        transition: 0s;
    }
}
@media screen and (max-width: 992px) {
    .form-menu .list_icon_menu li {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .form-menu .list_icon_menu {
        display: inline-block;
    }
    .newTestOverlay {
        top: 241px;
        height: 500px;
    }
    #id2 .container .test-item {
        width: 12%;
        padding: 0;
        min-width: 10px
    }
    #id2 .below-list-test-f .test-item {
        width: 65%;
    }
    .section-test .dot {
        bottom: 12.5%;
    }

    .form-menu .list_icon_menu li {
        margin: 15px 105px;
    }

    .form-menu .girl {
        width: 300px;
        top:-3%;
    }

    .button-receive-wr .button-receive {
        font-size: 30px;
        width: 65%;
    }

    .section-chart #legend {
        width: 60%;
        padding: 30px;
        color: white;
        font-size: 15px;
    }
}

@media screen and (max-width: 668px) {
    .newTestOverlay {
        top: 151px;
        height: 450px;
    }
    .background-2 {
        top: 70px;
    }
    .section-test .dot {
        bottom: 19%;
    }
    .dot-background-2 {
        bottom: 20% !important;
    }
}

@media screen and (max-width: 640px) {
    .board, #id1 .cta {
        display: none;
    }
    .board-mobile {
        display: block;
        width: 85%;
        margin: auto;
    }
    #id2 .container-desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .wrap > img {
        height: 90%;
        width: auto;
    }
    .above-trynow, .for-parent-content {
        display: none;
    }
    .parent-button-mobile, .trynow-btn-wr button {
        width: 60%;
        margin: 10px 30px;
        height: auto;
        font-size: 20px;
        padding: 10px 5px;
        border-radius: 5px;
    }
    .testnow-tailieu-wr, .trynow-btn-wr {
        margin: 0px;
        justify-content: center;
    }
    .container {
        padding: 10px 0;
    }
    .article-slide-wr, .ultilities-wr {
        margin-top: 30px;
    }
    footer {
        padding: 10px 30px;
    }
    .mobile-ocean-creatures {
        max-width: 100px;
    }



    /**
    Copy doan nay cho moi width khac nhau
     */
    #id2.section-test .container .testOver {
        height: 55%;
    }
    .fadeOut {
        top: 0px;
    }
    .newTestOverlay {
        top: 270px;
        width: 80%;
        height: 450px;
    }

    #id2 .container .row.tn h3 {
        padding: 0 30px;
        font-size: 10px;
    }
    .section-test .row.row-list-below-test {
        width: 80%;
        height: 200px;
        padding: 20px 0;
    }
    .section-test .tab img.iq-question{
        max-width: 150px;
    }
    .section-test .tab .answer label img {
        width: 40px;
        border-radius: 5px;
    }

    .section-test .dot {
        bottom: 5.5%;

    }
    #id2 .container .test-item {
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .section-test .below-test .button-below {
        width: 120px;
        font-size: 15px;
        height: 50px;
    }
    .section-test .row-list-below-test .below-list-test-f, .section-test .free_test_result .below-list-test-f .test-item {
        margin: 0;
        padding: 0 10px;
    }
    .div-r, .div-l {
        width: 40%;
    }
    .div-m {
        width: 20%;
    }
    .section-test .tab .question {
        max-width: 120px;
    }
    .swal2-popup .swal2-radio label {
        margin: 0 0.4em !important;
    }
    #id2 .container .row.tn {
        padding-top: 60px;
    }
    .section-test .tab label.iq-answer.col-md-3 > img {
        width: 40px;
    }
    .dot-background-2 {
        bottom: 0% !important;
    }
    .introduction-button {
        margin: 4% 20%;
    }
}

@media screen and (max-width: 480px) {
    #id2.section-test .container .testOver {
        height: 40%;
    }
    .section-test .tab .answer label.no-question-answer img {
        width: 70px;
        max-height: 70px;
    }
    .section-test .dot span {
        font-size: 10px;
    }
    #id2.section-test .test-button {
        width: 60px;
        height: auto;
        font-size: 8px;
    }
    #nextBtn, #submitBtn {
        right: -40px;
    }
    #prevBtn {
        left: -40px;
    }
    .d-nav {
        flex-wrap: wrap;
    }
    .top-right-menu {
        margin: auto;
    }
    header {
        background: url(/Catopiana_files/images/navbg@2x.png) top center/420% fixed no-repeat;
        height: 150px;
    }
    .whale1 {
        max-width: 90px;
        height: auto;
    }
    .fish, .flock-fish {
        max-width: 40px;
    }
    .bubble {
        max-width: 25px;
    }
    .board-mobile .girl, #id2.section-test .container .girl {
        position: absolute;
        top: -3em;
        left: 0px;
        width: 150px;
    }
    #id1 {
        padding-bottom: 20px;
    }
    .background-mobile {
        position: absolute;
        top: 180px;
        transform: scale(1.3);
        z-index: -1;
        background: linear-gradient(to bottom, transparent, #fff 40%,  #9cdbf8 50%);
    }
    #id2 .test-item {
        width: 40px;
        margin: 0 10px;
    }
    #id2 .container .icon-in-test-page .test-item {
        width: 30%;
    }
    .newTestOverlay {
        top: 80px;
        height: 290px;
    }
    .section-test .dot {
        bottom: -8%;
    }
    .section-test .below-test {
        margin-top: 20px;
    }
    .background-2 {
        top: 38px;
    }
    .dot-background-2 {
        bottom: -6.5% !important;
    }

    .form-menu .list_icon_menu li {
        width: 120px;
        padding: 25px 0;
        margin: 0 10%;
    }

    .form-menu .girl {
        width: 200px;
        top:-3%;
    }
    .button-receive-wr button {
        font-size: 20px;
    }

    .section-chart .title h1{
        font-size: 50px;
    }

    .section-chart .button-chart {
        font-size: 25px;
    }

    /* padding: 10px 5px; */
}

@media screen and (max-width: 400px) {
    .form-menu .list_icon_menu li {
        margin: 0 9%;
    }
}
@media screen and (max-width: 384px) {
    .d-nav{
        padding: 10px 5px;
    }
    .section-test .dot {
        bottom: -2%;
    }
    .dot-background-2 {
        bottom: -1% !important;
    }

    .newTestOverlay {
        top: 42px;
        height: 270px;
    }
    .background-2 {
        top: 38px;
    }

    .section-chart #legend {
        width: 60%;
        padding: 20px;
        font-size: 10px;
    }
}



@media screen and (max-width: 376px) {
    .d-nav{
        padding: 10px 5px;
    }
    .section-test .dot {
        bottom: 0%;
    }
    .dot-background-2 {
        bottom: 2.5% !important;
    }

    .newTestOverlay {
        top: 42px;
        height: 250px;
    }
    .background-2 {
        top: 38px;
    }
    .form-menu .age, .form-menu .weight {
        margin: 50px 0;
    }

    .form-menu .list_icon_menu li {
        width: 100px;
        padding: 30px 0;
        margin: 0 43px;
        font-size: 27px;
    }

    .form-menu .title {
        font-size: 30px;
    }

    .form-menu .menu-slide-wr .food-name {
        font-size: 12px
    }

    .form-menu .menu-slide-wr .menu-food-catetory {
        font-size: 40px;
    }

    .form-menu .girl {
        top: -2%;
        z-index: 3;
        width: 200px;
    }

    .section-chart .button-chart {
        font-size: 20px;
    }

}

@media screen and (max-width: 360px){
    .newTestOverlay {
        top: 40px;
        height: 250px;
    }
    .section-test .dot {
        bottom: -1%;
    }

    .form-menu .list_icon_menu li {
        width: 100px;
        padding: 30px 0;
        margin: 0 30px;
        font-size: 27px;
    }
}

@media screen and (max-width: 330px) {
    .section-chart .title h1{
        font-size: 35px;
    }

    .section-chart .button-chart {
        font-size: 20px;
    }
}
